@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility Classes */
.opacity-50 {
  pointer-events: none; /* Prevent interactions with the content when the sidebar is open */
}

.shadow-none {
  box-shadow: none; /* Remove shadows if needed */
}

/* Custom Styling */
.chart-container {
  @apply flex p-4 rounded-lg shadow-lg;
  background-color: transparent; /* Transparent background */
}

/* Global Styles */
html, body {
  @apply h-full m-0 p-0 overflow-x-hidden overflow-y-auto scroll-smooth;
  scrollbar-width: none; /* Hide default scrollbar */
  background: linear-gradient(to bottom, #06D001, #F3FF90); /* Light mode gradient */
  user-select: none;
}

body.darkMode {
  background-image: linear-gradient(to bottom, #004400, #1A1A1A); /* Dark mode gradient */
  @apply text-white;
}

/* Navbar Styling */
.navbar {
  @apply flex justify-between;
}

body.darkMode .navbar {
  @apply text-gray-200; /* Light grey text in dark mode */
}

/* Container and Subs Styling */
body.darkMode .container {
  @apply bg-inherit text-gray-200;
}

body.darkMode .subs {
  @apply bg-inherit text-gray-300; /* Slightly lighter grey text */
}

/* Typography Adjustments for Dark Mode */
body.darkMode h1 {
  @apply text-gray-200; /* Light grey for headers */
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit-based browsers */
}

body.darkMode .button{
  @apply bg-primary 
}

body.darkMode .hover{
  @apply hover:bg-primary-light
}