@tailwind base;
@tailwind components;
@tailwind utilities;
.opacity-50 {
  pointer-events: none; /* Prevent interactions with the content when the sidebar is open */
}
/* Optional: Remove any additional shadows or borders if needed */
.shadow-none {
  box-shadow: none;
}

/* Add this to your global CSS file */
/* Add this to your global CSS file */


/* Example of custom styling */
.chart-container {
  background-color: none;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Ensure vertical scrolling is enabled */
  scroll-behavior: smooth; /* Optional: for smooth scrolling */
}

