@tailwind base;
@tailwind components;
@tailwind utilities;
.opacity-50 {
  pointer-events: none; /* Prevent interactions with the content when the sidebar is open */
}
/* Optional: Remove any additional shadows or borders if needed */
.shadow-none {
  box-shadow: none;
}

/* Add this to your global CSS file */
/* Add this to your global CSS file */


/* Example of custom styling */
.chart-container {
  background: none;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Ensure vertical scrolling is enabled */
  scroll-behavior: smooth;
  scrollbar-width:none;
  background: linear-gradient(to bottom, #06D001, #F3FF90);
   /* Optional: for smooth scrolling */
}

body.darkMode {
  background-image:linear-gradient(to bottom, #004400, #1A1A1A);
  color: #ffffff;
}

/* nav.darkMode h1{

  color:#E0E0E0;

} */

body.darkMode h1 {
  color: #E0E0E0;
}
body.darkMode .navbar{
  color: #E0E0E0;

}
body.darkMode .container {
  background: inherit;
  color: #E0E0E0;
}
body.darkMode .subs {
  background: inherit;
  color: #e0e0e0c5;
}
